html {
    margin: 25px;
    height: 100%;
}

body {
    position: relative;
    border: 4px solid #47c5fb;
    height: 100%;
}

.wrapper {
    margin: 2px;
    padding: 2rem;
    border: 1px solid #47c5fb;
    height: 1119px;
}

.title-row {
    text-decoration: underline;
    font-weight: bold;
    font-size: 18px;
}

.subtitle-row {
    font-size: 16px;
    font-style: italic;
}

.data-title-row {
    font-weight: bold;
    font-size: 17px;
}

.data-subtitle-row {
    font-size: 14px;
    font-style: italic;
}

.va-top {
    vertical-align: top;
    padding: 0;
    margin: 0;
}

.bar {
    position: absolute;
    background-color: #47c5fb;
    border-radius: 2px;
    height: 15px;
    width: 50px;
}

.bar-left-top-1 {
    top: -9px;
    left: -12px;
}

.bar-left-top-2 {
    top: 4px;
    left: -25px;
    transform: rotate(90deg);
}

.bar-right-top-1 {
    top: -9px;
    right: -12px
}

.bar-right-top-2 {
    top: 4px;
    right: -25px;
    transform: rotate(90deg);
}

.bar-left-bottom-1 {
    bottom: 0px;
    left: -12px;
}

.bar-left-bottom-2 {
    bottom: 13px;
    left: -25px;
    transform: rotate(90deg);
}

.bar-right-bottom-1 {
    bottom: 0px;
    right: -12px
}

.bar-right-bottom-2 {
    bottom: 13px;
    right: -25px;
    transform: rotate(90deg);
}
